@{
   
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>SigmaCar</title>



      
</head>
<body>
    <form id="form1" runat="server">
        <section>
            <h2>Pourquoi nous choisir?</h2>
            <p>Que vous ayez besoin d’une petite citadine pour vous déplacer facilement en ville, d’un SUV ou d'une 
                élégante berline, SigmaCar répond à toutes attentes par un parc diversifié de véhicules
            </p>
            <br>
            <div style="text-align: center;">
                <img id="imageDisplay"   alt="Description de l'image" />
            </div>
           @*  <div class="col-md-6">
                <div class="map_main">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Maroc+Rabat" width="600" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div> *@
           
        </section>
   
    </form>
</body>
</html>


